clock-In/bin/
.vs/clock-In/v15/.suo
.vs/clock-In/v15/Server/sqlite3/db.lock
.vs/clock-In/v15/Server/sqlite3/storage.ide
.vs/clock-In/v15/Server/sqlite3/storage.ide-shm
.vs/clock-In/v15/Server/sqlite3/storage.ide-wal
clock-In/obj/Debug/
